/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@font-face {
	font-family: 'Arial, sans-serif';
	font-weight: normal;
	font-style: normal;
}

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: #58595b;
$mainFontSize: 30px;
$headingColor: #92c111;
$headingTextShadow: none;
$backgroundColor: #FFFFFF;
$linkColor: #92c111;
$linkColorHover: #80aa0f;
$selectionBackgroundColor: #dadada;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }





// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


body {
  color: red;
  background: url(../../img/logo-bg.png) top left no-repeat;
  background-attachment: fixed;
}

body div.logo {
  margin: 20px 20px 0 0;
  float: right;
  img {
    width: 200px;
  }
}